/*What I wish I could do: Have that repeating line background. 
It has something to do with gradients and transforms but it is currently beyond me.*/
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans');
body {
    background-image: radial-gradient(white 5px, #392666 5px);
  background-size:30px 30px;
}
.background {
  position: fixed;
  width: 100vw;
  height:100vh;
  border-left-style: solid;
  border-width: 6px;
  border-color: #ffb3ff;
  margin-left:0px;
  z-index: -2;
}
.line1 {
  position: fixed;
  border-left-style: solid;
  border-width: 9px;
  border-color: #8655a3;
  width: 100vw;
  height:100vh;
  z-index: -2;
}
.name {
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  font-size: 37px;
  color: gold;
  background: #72a355;
  width: 360px;
  margin: 28px 20px 20px 20px;
  z-index: 0;
  letter-spacing: 2px;
  padding-left: 5px;
}
.links {
  line-height: 1.7;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 15px;
  position: absolute;
  width: 353px;
  margin-top: 70px;
  margin-left: 35px;
  z-index: -1;
  background: rgba(128, 255, 126, 0.9);
  clear: none;
  font-family: 'Open Sans', sans-serif;
}
.text {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  background: #8655a3;
  color: white;
  clear: none;
  z-index: -2;
  width: 750px;
  margin-top: 30px;
  margin-left: 378px;
  padding-top: 5px;
  padding-left: 17px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.row {
  width: 100%;
  /*margin: 0 auto;*/
  text-align: center;
}
.row2 {
  width: 100%;
  margin: 0;
  text-align: left;
}
.block {
  width: 225px;
  /*float: left;*/
  display: inline-block;
  zoom: 100%;
}
.block2 {
  /*width: 10 px;*/
  text-align: right;
  float: right;
  zoom: 1;
}
h1 {
  margin: 0;
}
h4 {
  margin: 0;
}
h5 {
  margin: 0;
}
hr {
  margin: 3px;
}
